<div>
    <form #registerForm="ngForm">
        <label class="form-label">
            Nombre: 
        </label>
        <input class="form-control" type="text" name="cajaname" #cajaname />

        <label class="form-label">
            Email: 
        </label>
        <input class="form-control" type="text" name="cajamail" #cajamail />

        <label class="form-label">
            Contraseña: 
        </label>
        <input class="form-control" type="password" name="cajapassword" #cajapassword />

        <button class="btn btn-secondary" (click)="register()">
            Login
        </button>
    </form>
</div>